<!-- this is where our products are displayed -->
{{#link-to 'product' product.id}}
<h2>{{product.title}}</h2>
<h3>{{product.venue}}</h3>
<img src="{{product.image}}" alt="{{product.title}}" /><br>
{{/link-to}}

<hr>
